# Ignore node_modules directory
node_modules/

# Ignore build output
dist/
build/

# Ignore Vite cache and logs
.vite/
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore environment variables files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
